# Dependencies
node_modules/

# cookie
cookies/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# OS clutter
.DS_Store

# Environment secrets
.env

# Playwright reports (optional artifacts)
playwright-report/
test-results/
